@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html {
  height: auto;
}

body {
  margin: 0 auto;
  background: url("/image/bgPhoto.jpg"), whitesmoke;
  color: rgb(42, 38, 38);
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  letter-spacing: 1px;
  line-height: 22px;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: 50px auto 0px;
  align-items: center;
  padding: 25px;
  box-shadow: inset rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
}
@media only screen and (max-width: 768px) {
  form {
    width: 90%;
  }
}

span {
  font-size: 24px;
}

input {
  margin-top: 20px;
  padding: 7px;
  width: 400px;
  border: 1px solid rgb(139, 136, 136);
  border-radius: 5px;
}
@media only screen and (max-width: 768px) {
  input {
    width: 90%;
  }
}

input:focus {
  border: 2px solid rgb(139, 153, 166);
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  text-align: center;
}

button {
  margin-top: 30px;
  width: 170px;
  height: 40px;
  border: none;
  border-radius: 10px;
  vertical-align: middle;
  background-color: transparent;
  font-size: 12px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
}
@media only screen and (max-width: 480px) {
  button {
    width: 50%;
  }
}

button:hover {
  background-color: rgb(230, 228, 228);
}

button:focus {
  border: 2px solid rgb(139, 153, 166);
}

#searchResults {
  width: 90vw;
  display: flex;
  flex-direction: column;
  margin: 30px auto 50px;
}
@media only screen and (max-width: 768px) {
  #searchResults {
    width: 100%;
  }
}

.searchResult {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: 10px auto;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
}
@media only screen and (max-width: 768px) {
  .searchResult {
    width: 90%;
    padding: 10px;
  }
}

.userNameRow, .repoRow, .descRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 5px;
  height: auto;
}

.repoRow, .descRow {
  flex-wrap: wrap;
}

#userName, #userNameText {
  padding-right: 5px;
}

#repo, #repoText {
  padding-right: 5px;
}

#repo {
  color: blue;
  word-break: break-word;
}

#description, #descText {
  padding-right: 5px;
  text-align: justify;
}

#userNameText, #repoText, #descText {
  font-weight: 700;
}

h1 {
  margin: 50px auto;
  font-size: 25px;
  font-style: italic;
}