// Файл обнуляющих стилей
@import "nullstyle.scss";
// breakpoints
@import 'breakpoints.module.scss';

html {
	height: auto;
}
body {
	margin: 0 auto;
	color: rgb(42, 38, 38);
	background: whitesmoke;
}
.wrapper {
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.container {
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: auto;
}
form {
	display: flex;
	flex-direction: column;
	width: 600px;
	// height: 200px;
	margin: 25px auto;
	align-items: center;
	padding: 25px;
	// background-color: rgb(202, 190, 190);
	box-shadow: inset rgb(0 0 0 / 20%) 0px 2px 4px -1px, rgb(0 0 0 / 14%) 0px 4px 5px 0px, rgb(0 0 0 / 12%) 0px 1px 10px 0px;
	@include sm-breakpoint {
		width: 90%;
	}
}
span {
	// margin-top: 20px;
	font-size: 20px;
	font-weight: 700;
}
input {
	margin-top: 20px;
	padding: 7px;
	width: 400px;
	// background-color: whitesmoke;
	border: 1px solid rgb(139, 136, 136);
	border-radius: 5px;
	// box-shadow: inset rgb(0 0 0 / 20%) 0px 2px 4px -1px, rgb(0 0 0 / 14%) 0px 4px 5px 0px, rgb(0 0 0 / 12%) 0px 1px 10px 0px;

	@include sm-breakpoint {
		width: 90%;
	}
}
::-webkit-input-placeholder {
  text-align:center;
}
:-moz-placeholder {
  text-align: center;
}
button {
	margin-top: 30px;
	width: 170px;
	height: 40px;
	border: none;
	border-radius: 10px;
	vertical-align: middle;
	background-color: transparent;
	font-size: 12px;
	font-weight: 700;
	box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px -1px, rgb(0 0 0 / 14%) 0px 4px 5px 0px, rgb(0 0 0 / 12%) 0px 1px 10px 0px;
	@include xs-breakpoint {
		width: 50%;
	}
}
button:hover, button:focus{
	background-color: rgb(223, 212, 212);
}
#searchResults {
	width: 90vw;
	display: flex;
	flex-direction: column;
	margin: 25px auto;
	@include sm-breakpoint {
		width: 100%;
	}
}
.searchResult {
	display: flex;
	flex-direction: column;
	width: 600px;
	margin: 10px auto;
	padding: 15px;
	box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px -1px, rgb(0 0 0 / 14%) 0px 4px 5px 0px, rgb(0 0 0 / 12%) 0px 1px 10px 0px;
	@include sm-breakpoint {
		width: 90%;
		padding: 10px;
	}
}
.userNameRow, .repoRow, .descRow {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-top: 5px;
}
.descRow {
	flex-wrap: wrap;
}
#userName, #userNameText {
	padding-right: 5px;
	font-size: 16px;
	font-weight: 700;
}
#repo, #repoText {
	padding-right: 5px;
	font-size: 16px;
}
#repo {
	color: blue;
}
#description, #descText {
	padding-right: 5px;
	font-size: 16px;
}
#userNameText, #repoText, #descText {
	font-weight: 700;
}
h1 {
	margin: 50px auto;
	font-size: 25px;
	font-weight: 700;
	font-style: italic;
}