// Файл обнуляющих стилей
@import "nullstyle.scss";
// breakpoints
@import 'breakpoints.module.scss';

html {
	height: auto;
}
body {
	margin: 0 auto;
	// background: url('img/bgPhoto.jpg'), whitesmoke;
	color: rgb(42, 38, 38);
	font-family: 'Urbanist', sans-serif;
	font-weight: 500;
	font-size: 16px;
	font-style: normal;
	letter-spacing: 1px;
	line-height: 22px;
	z-index: 1;
}
img {
	z-index: -1;
}
.wrapper {
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.container {
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: auto;
}
form {
	display: flex;
	flex-direction: column;
	width: 600px;
	margin: 50px auto 0px;
	align-items: center;
	padding: 25px;
	box-shadow: inset rgb(0 0 0 / 20%) 0px 2px 4px -1px, rgb(0 0 0 / 14%) 0px 4px 5px 0px, rgb(0 0 0 / 12%) 0px 1px 10px 0px;
	@include sm-breakpoint {
		width: 90%;
	}
}
span {
	font-size: 24px;
}
input {
	margin-top: 20px;
	padding: 7px;
	width: 400px;
	border: 1px solid rgb(139, 136, 136);
	border-radius: 5px;
	@include sm-breakpoint {
		width: 90%;
	}
}
input:focus {
	border: 2px solid rgb(139, 153, 166);
}
::-webkit-input-placeholder {
  text-align:center;
}
:-moz-placeholder {
  text-align: center;
}
button {
	margin-top: 30px;
	width: 170px;
	height: 40px;
	border: none;
	border-radius: 10px;
	vertical-align: middle;
	background-color: transparent;
	font-size: 12px;
	border: none;
	box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px -1px, rgb(0 0 0 / 14%) 0px 4px 5px 0px, rgb(0 0 0 / 12%) 0px 1px 10px 0px;
	@include xs-breakpoint {
		width: 50%;
	}
}
button:hover {
	background-color: rgb(230, 228, 228);
}
button:focus{
	border: 2px solid rgb(139, 153, 166);
}
#searchResults {
	width: 90vw;
	display: flex;
	flex-direction: column;
	margin: 30px auto 50px;
	@include sm-breakpoint {
		width: 100%;
	}
}
.searchResult {
	display: flex;
	flex-direction: column;
	width: 600px;
	margin: 10px auto;
	padding: 15px;
	box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px -1px, rgb(0 0 0 / 14%) 0px 4px 5px 0px, rgb(0 0 0 / 12%) 0px 1px 10px 0px;
	@include sm-breakpoint {
		width: 90%;
		padding: 10px;
	}
}
.userNameRow, .repoRow, .descRow {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-top: 5px;
	height: auto;
}
.repoRow, .descRow {
	flex-wrap: wrap;
}
#userName, #userNameText {
	padding-right: 5px;
}
#repo, #repoText {
	padding-right: 5px;
}
#repo {
	color: blue;
	word-break: break-word;
}
#description, #descText {
	padding-right: 5px;
	text-align: justify;
}
#userNameText, #repoText, #descText {
	font-weight: 700;
}
h1 {
	margin: 50px auto;
	font-size: 25px;
	font-style: italic;
}